@{
    ViewData["Title"] = "editar de contato";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar contatos...</h1>

</div>

<form>
  <div class="form-group">
    <label for="nome">Nome </label>
    <input type="text" class="form-control" placeholder="Digite o nome para cadastro...">
  </div>

  <div class="form-group">
    <label for="email">E-mail </label>
    <input type="text" class="form-control" placeholder="Digite o nome email valido...">
  </div>

  <div class="form-group">
    <label for="celular">Celular </label>
    <input type="text" class="form-control" placeholder="Digite o celular...">
  </div>

  <button type="submit" class="btn btn-primary btn-block">Alterar</button>
  <a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>

